.pageTitle{
  width: auto;
  margin-top: -550%;
  padding-left: 33%;
  margin-bottom: 0%;
  white-space: nowrap;
}

p {
  max-width: 850px;   /* keeps text readable, not too wide */
  margin: 1rem auto;  /* centers paragraph block */
  line-height: 1.5;   /* improves readability */
  font-size: 1rem;
}
.about-me-text{
  margin-top: -3%;
  width: max-content;
}
.about-me-text p {
  margin-left: 0;
  padding-left: 18px;
  font-size: 14px;
  font-weight: 400;
}

.col-md-5 {
  flex: unset !important;
  max-width: unset !important;
}
.card{
  width: 600px;
  background-color: #222224;
  border-radius: 12px;
  color: white;
  box-shadow: -1px -1px 0px rgba(251, 251, 251, 0.2),
             3px  3px 6px rgba(0, 0, 0, 0.1);
}
.about-icons{
    width: 40px;
    height: 50px;
    margin-right: 15px;
}