/* Whole navbar */
.navbar {
  padding: 0.6rem 3rem;
  /* position: sticky; stays at top */
  top: 0;
  z-index: 1000;
  background: hsla(240, 1%, 17%, 0.75);
  backdrop-filter: blur(10px);
  border: 1px solid #383838;
  border-radius: 0px 12px 0px 12px;
  box-shadow: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  z-index: 5;
}

/* let .navbar-container size to its content, but sit at the right */
.navbar-container {
  display: flex;         /* keep children laid out in a row */
  align-items: center;
  margin-left: 0;     /* <--- pushes the whole container to the right */
}

/* compact link list (no stretching) */
.navbar-list {
  display: flex;
  gap: 3rem;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: flex-end; /* optional - keeps items inside ul right aligned */
}

/* Branding / logo */
.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

/* Buttons */
.navbar-link {
  background: none;
  border: none;
  font-size: .9rem;
  color: #ddd;
  cursor: pointer;
  transition: color 0.3s, border-bottom 0.3s;
  padding: 0.5rem 0;
}

.navbar-link:hover {
  color: #fff;
}

/* Active link highlight */
.navbar-link.active {
  color: #ffdb70; /* highlight color */
  border-bottom: 2px solid #ffdb70;
}
