.project-list{
  display: flex;
  justify-content: space-evenly;
  list-style: none;   /* removes bullets */
  padding: 0;         /* removes default padding */
  margin: 0;
}
.project-item-icon-box {
  height: inherit;
  --scale: 0.8;
  background: #383838;
  color: #ffdb70;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(var(--scale));
  font-size: 20px;
  padding: 18px;
  border-radius: 12px;
  opacity: 0;
  z-index: 1;
  transition: 0.25s ease;
}
.project-item a {
  text-decoration: none;  /* removes underline */
  color: inherit;         /* inherits text color instead of default blue/purple */
}

.project-item > a:hover .project-item-icon-box {
  --scale: 1;
  opacity: 1;
}
.project-img {
  position: relative; /* this fixes the problem */
  display: inline-block; /* keeps layout nice */
  overflow: hidden; /* optional: hides icon overflow */
  border-radius: 12px;
}

.project-img img {
  width: 250px;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  transition: 0.25s ease;
}
.project-item > a:hover img { transform: scale(1.1); }