/* === Education & Experience Timeline === */

.timeline { margin-bottom: 30px; }

.timeline .title-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
  margin-left: 27px;
}

.timeline-list {
  font-size: 14px; /* --fs-6 */
  margin-left: 45px;
}

.timeline-item {
  position: relative;
  list-style-type: none;
  padding-left: 7px;
 }

.timeline-item:not(:last-child) { margin-bottom: 20px; }

.timeline-item-title {
  font-size: 14px; /* --fs-6 */
  line-height: 1.3;
  margin-bottom: 7px;
}

.timeline-list span {
  color: hsl(45, 54%, 58%); /* --vegas-gold */
  font-weight: 400;         /* --fw-400 */
  line-height: 1.6;
}

.timeline-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -30px;
  width: 1px;
  height: calc(100% + 50px);
  background: hsl(0, 0%, 22%); /* --jet */
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -33px;
  height: 6px;
  width: 6px;
  background: linear-gradient(to right, hsl(45, 100%, 72%), hsl(35, 100%, 68%)); /* --text-gradient-yellow */
  border-radius: 50%;
  box-shadow: 0 0 0 4px hsl(0, 0%, 22%); /* --jet */
}

.timeline-text {
  color: hsl(0, 0%, 84%);   /* --light-gray */
  font-weight: 300;         /* --fw-300 */
  line-height: 1.6;
}
