aside {
  width: 275px;
  height: 700px;
  background-color: #1E1E1F;
  color: white;
  border-radius: 20px;
  box-shadow: -1px -1px 0px rgba(251, 251, 251, 0.1),
               1px  1px 0px rgba(251, 251, 251, 0.1);
}
hr{
  width: 200px;
}
.profile{
  width: 150px;
  border-radius: 30px;
  background: linear-gradient(145deg, #3D3D3F, #333333);
}
.icon-box {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
  /* subtle glass */
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: -1px -1px 0px rgba(251, 251, 251, 0.2),
             3px  3px 6px rgba(0, 0, 0, 0.1);
}

.icon-box {
  font-size: 21px;
  color: rgb(255, 219, 112);
  /* golden yellow */
  z-index: 1;
}